body {
    background-image: url("../image/bgmage.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;

}

.login-container h1 {
    color: rgb(2, 27, 252);
    text-align: center;
}
.login-container {
    width: 300px;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    text-align: center;
    box-shadow: 3px 3px 10px rgb(2, 27, 252);
}
.login-container button {
    margin: 5PX;
    padding: 2px;
}